@page
@model FeedbackWebApp.Pages.AddPlaceModel
@{
    ViewData["Title"] = "Add new Place";
    HttpRequests req = new HttpRequests();
    List<PlaceType> types = await req.GetPlaceTypesAsync(BaseController.GetToken());
    List<string> days = new List<string>() { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" };
}
<div class="loginDiv">
    <h2>Add new Place</h2>
    <form method="POST">
        <label class="labelMargin" for="Name">Name of the place: </label>
        <br />
        <input class="textBLogin" type="text" name="Name" value="" />
        <br />
        <label class="labelMargin" for="Street">Street & Number: </label>
        <br />
        <input class="textBLogin" type="text" name="Street" value="" />
        <br />
        <label class="labelMargin" for="ZipCode">ZipCode: </label>
        <br />
        <input class="textBLogin" type="text" name="ZipCode" value="" />
        <br />
        <label class="labelMargin" for="City">City: </label>
        <br />
        <input class="textBLogin" type="text" name="City" value="" />
        <br />
        <label class="labelMargin" for="Country">Country: </label>
        <br />
        <input class="textBLogin" type="text" name="Country" value="" />
        <br />
        <label class="labelMargin">Type of place: </label>
        <select class="textBLogin" name="Placetype">
            @foreach (PlaceType t in types)
            {
                <option value="@t.Id">@t.Name</option>
            }
        </select>
        <br />
        <label class="labelMargin">Upload Image of the place: </label>
        <br />
        <input type="file" asp-for="Upload" />
        @*<br />
        <label class="labelMargin">Opening Times: </label>
        <br />
        <div style="text-align:center">
            @for (int i = 0; i < days.Count; i++)
            {
                string opN = "Open" + i; string clN = "Close" + i;
                <label>@days[i]: </label>
                <div class="times">
                    <label for="OpeningTimes_Open">open: </label><input name="OpeningTimes_Open" value="@i" type="time" /> <label for="OpeningTimes_Close">close: </label><input name="OpeningTimes_Close" value="@i" type="time" />
                </div>
                <br />
            } *@
        <input type="submit" class="btnNewP" style="border: none;color: white;padding: 6px 20px;
            text-align: center;margin-top: 10px;background-color: #555555;cursor: pointer;margin-left:20px" asp-page-handler="" value="Create new place">
        @*</div> *@
    </form>

</div>


