@page
@model FeedbackWebApp.Pages.OverviewModel
@{
    ViewData["Title"] = "Overview";
}

<h1>Overview</h1>
<div class="container">
    @{
        List<Place> places = new List<Place>();

        Place newP = new Place()
        {
            Address = "3483 Feuersbrunn, Weinstrasse 11",
            Name = "Gasthaus zum goldenen Kreuz",
            IsVerified = true,

        };
        //OpenTimes = new openingTimes() { day = 0, open = new TimeSpan(10, 0, 0), close = new TimeSpan(18, 0, 0) }     EINZELN
        //await req.CreateProductAsync(newP);
        HttpRequests req = new HttpRequests();
        Model.places = await req.GetPlacesAsync();

    }
    
    <div  style="height:40px">
        <button id="btnAddPlace" onclick="AddPlace()" style="border: none;color: white;padding: 6px 20px;text-align: center;margin-bottom: 10px;float: right;
             background-color: #555555;cursor: pointer;">Add Place</button>
    </div>

    @foreach (Place p in Model.places)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="https://via.placeholder.com/180" alt="Bild" style="float: left" />
                <div style="float:left; margin-left: 5%">
                    <a asp-page="/PlaceSite" onclick=""><h3>@p.Name</h3></a>    @* @RedirectToPage("PlaceSite", new { id = p.Id })*@
                    <h4> @p.PlaceType.Name</h4>
                    <p>Opening time:  @p.OpeningTimes[0] , opens at @p.OpeningTimes[0].open, closes at @p.OpeningTimes[0].close</p>
                    <p>address: @p.Address</p>
                    <a href="#">See on Google Maps</a>
                </div>
                <div class="rating" style="float:right; margin-right: 5%; margin-top: 2%; text-align: right">
                    @{
                        int r = Convert.ToInt32(p.Rating);
                    }
                    @for (int i = 0; i < r; i++)
                    {
                        <span class="glyphicon glyphicon-star iStar"></span>
                    }
                    @for (int j = 0; j < 5 - r; j++)
                    {
                        <span class="glyphicon glyphicon-star-empty iStar"></span>
                    }
                    <p>User rating: @p.Rating / 5</p>
                </div>
            </div>
        </div>
    }

</div>

