@page
@model FeedbackWebApp.Pages.PlaceSiteModel
@{
    List<string> days = new List<string>() { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" };
    HttpRequests req = new HttpRequests();
    Place place = await req.GetPlaceAsync(BaseController.GetPlaceID());
    List<Review> reviews = await req.GetReviews(BaseController.GetPlaceID());
    ViewData["Title"] = place.Name;

}

<div class="container">
    <div style="margin-top:10px">
        <input type="submit" class="btnNewP" style="border: none;color: white;padding: 6px 20px;
          text-align: center;margin-top: 10px;margin-bottom: 10px;float: right;background-color: #555555;cursor: pointer;" asp-page="/UpdatePlace" value="Edit Place">
        @* <img src="https://via.placeholder.com/600x390" alt="Bild" style="" /> *@
        <div style="">
            <h3>@place.Name</h3>
            <h4>@place.PlaceType.Name</h4>
            <p>Opening times: </p>
            @for (int i = 0; i < place.OpeningTimes.Count; i++)
            {
                <p>@days[place.OpeningTimes[i].Day]: open from @place.OpeningTimes[i].Open  to @place.OpeningTimes[i].Close</p>
            }
            <br />
            <p>Address: @place.Street, @place.ZipCode @place.City , @place.Country</p>

            @if (BaseController.GetToken()=="")
            {
                <button id="btnAddPlace" onclick="AddReview()" style="border: none;color: white;padding: 6px 20px;text-align: center;margin-bottom: 10px;float: right;
                background-color: #555555;cursor: pointer;margin-top: 10px">
                    Add Review
                </button>
            }

            <h3>Reviews: </h3>
            
            @foreach (Review r in reviews)
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p><b>@r.User.Username</b> gives this @place.PlaceType.Name <b>@r.Rating stars</b> and says: </p>
                        <br />
                        <b>@r.Text</b>
                        <br />
                        <i>Last edited: @r.LastEdited.Date</i>
                        <i>Positive Reactions: @r.positiveReactions</i>
                        <i>Negative Reactions: @r.negativeReactions</i>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

