@page
@model FeedbackWebApp.Pages.PlaceSiteModel
@{
    var place = new Place() { Id = 23754, Name = "Franzis Burger", Address = "Dorfstrasse 23, 3483 Wagram",
        Type = "Restaurant and Fast Food", IsVerified = false,
        OpenTimes = new openingTimes() { day = new TimeSpan(), open = new TimeSpan(10, 0,0), close = new TimeSpan(18, 0,0) } };
    ViewData["Title"] = @place.Name;
}

<div class="container">
    <div>
        <img src="https://via.placeholder.com/400x200" alt="Bild" style="float: left" />
        <h3>@place.Name</h3>
        <h4>@place.Type</h4>
        <p>Opening time: @place.OpenTimes.day.Days , opens at @place.OpenTimes.open, closes at @place.OpenTimes.close</p>
        <p>Address: @place.Address</p>
    </div>
</div>

