@page
@model FeedbackWebApp.Pages.UserSiteModel
@{
    ViewData["Title"] = "UserSite";
    User u = BaseController.GetUser();
}

<div class="loginDiv">
    <h1>User Information</h1>
    <form method="POST">
        <label>Username: <b>@u.Username</b></label>
        <br />
        <label for="Firstname">Firstname:</label>
        <br />
        <input class="textBLogin" type="text" name="Firstname" value="@u.FirstName" />
        <br />
        <label for="Lastname">Lastname:</label>
        <br />
        <input class="textBLogin" type="text" name="Lastname" value="@u.LastName" />
        <br />
        <label for="Description">Description:</label>
        <br />
        <textarea class="textBLogin" name="Description" cols="35" rows="4">@u.Description</textarea>
        <br />
        <label class="labelMargin" for="Street">Street & Number: </label>
        <br />
        <input class="textBLogin" type="text" name="Street" value="@u.Street" />
        <br />
        <label class="labelMargin" for="ZipCode">ZipCode: </label>
        <br />
        <input class="textBLogin" type="text" name="ZipCode" value="@u.ZipCode" />
        <br />
        <label class="labelMargin" for="City">City: </label>
        <br />
        <input class="textBLogin" type="text" name="City" value="@u.City" />
        <br />
        <label class="labelMargin" for="Country">Country: </label>
        <br />
        <input class="textBLogin" type="text" name="Country" value="@u.Country" />
        <br />
        <br />
        <input type="submit" class="btnNewP" style="border: none;color: white;padding: 6px 20px;
            text-align: center;background-color: #555555;cursor: pointer; margin-bottom: 3px" asp-page-handler="Del" value="Delete my user">
        <input type="hidden" name="_METHOD" value="PUT" />
        <input type="submit" class="btnNewP" style="border: none;color: white;padding: 6px 20px;
            text-align: center;background-color: #555555;cursor: pointer" asp-page-handler="" value="Save Changes">
    </form>
</div>

